.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.menu {
  padding: 10px;
  border-radius: 0 0 4px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.88);
  height: 100%;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.49);
  transition: 1s;
}

.open {
  left: 0!important;
  transition: 1s;
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
  width: 90%;
  background-color: rgba(67,67,67,0);
  border: 1px solid rgba(0, 0, 0, 0);
  transition: 400ms;
  &::after {
    margin: 5px;
    width: 95%;
    height: 1px;
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.44);
  }

  &:hover {
    &::after {
      width: 0;
      transition: 200ms;
    }
    background-color: rgba(238, 238, 238, 0.92);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.27);
    transition: 200ms;
  }
}

.burger-menu-icon {
  @keyframes burgerAnimationClose {
    from {
      transform: scale(1) rotate(0deg);
    }

    50% {
      transform: scale(0) rotate(180deg);
    }

    to {

      transform: scale(1) rotate(360deg);
    }
  }

  animation-name: burgerAnimationClose;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  background-size: contain;
  background: url("../assets/burgerMenu.png") no-repeat center;
  background-size: contain;
  margin: 20px;
  width: 60px;
  height: 100%;
  transition: 0.5s;
}

.burger-menu-icon-close {
  @keyframes burgerAnimationOpen {
    from {
      transform: scale(1) rotate(0deg);
    }

    50% {
      transform: scale(0) rotate(180deg);
    }

    to {

      transform: scale(1) rotate(360deg);
    }
  }

  animation-name: burgerAnimationOpen;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  background-size: contain;
  background: url("../assets/cross.png") no-repeat center;
  background-size: contain;
  margin: 20px;
  width: 60px;
  height: 100%;
  transition: 0.5s;
}




