.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.menu {
  padding: 10px;
  border-radius: 0 0 4px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.88);
  height: 100%;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.49);
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 35px;
  margin-top: 10px;
  text-align: center;
  width: 90%;
  background-color: rgba(67,67,67,0);
  border: 1px solid rgba(0, 0, 0, 0);
  transition: 400ms;
  &::after {
    margin: 5px;
    width: 95%;
    height: 1px;
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.44);
  }

  &:hover {
    &::after {
      width: 0;
      transition: 200ms;
    }
    background-color: rgba(238, 238, 238, 0.92);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.27);
    transition: 200ms;
  }
}
